*{
    font-family: Sogue UI;
}
.warna-bg{
    background:#0099ff;
}
.container{
    text-align: center;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border-radius: 8pt;
}
.container1{
    text-align: center;
    margin-top: 20px;
}
.container2{
    text-align: center;
    border-radius: 8pt;
}
.container-fluid{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.container6{
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    -moz-box-shadow: 0 0 5px #0099ff;
    -webkit-box-shadow: 0 0 5px #0099ff;
    box-shadow: 0 0 5px #0099ff;
    border-radius: 8pt;
}
.card1{
    box-shadow: 2px 2px 6px #727272;
    border-radius: 8pt;
}
.card-body{
    background-color: white;
    border-radius: 8pt;
}
.card-text{
    color: black;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}
.h1{
    color: #0099ff;
}
.btn-lg{
    background-color: #0099ff;
}
.btn-primary{
    background-color: #0099ff;
}
.bi-heart{
    color:white;
}
.bi-icon{
    color:#0099ff;
}
.card-img-top{
    border-radius: 8pt;
    
}
section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}
.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re
}
.mbr-iconfont{
    color: rgb(4, 241, 162);
}
.bi-house-door-fill{
    color: #0099ff;
    margin-right: 8px;
}
.bi-envelope-fill{
    color: #0099ff;
    margin-right: 8px;
}
.bi-telephone-fill{
    color: #0099ff;
    margin-right: 8px;
}
.bi-printer-fill{
    color: #0099ff;
    margin-right: 8px;
}