*{
    font-family: Sogue UI;
}
.warna-bg{
    background:#0099ff;
}
.container{
    text-align: center;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border-radius: 8pt;
}
.container1{
    text-align: center;
    margin-top: 20px;
}
.container2{
    text-align: center;
    border-radius: 8pt;
}
.container8{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
}
.container-fluid{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card1{
    box-shadow: 2px 2px 6px #727272;
    border-radius: 8pt;
}
.card-body{
    background-color: white;
    border-radius: 8pt;
}
.card-text{
    color: black;
    text-align: justify;
}
.h1{
    color: #0099ff;
}
.btn-lg{
    background-color: #0099ff;
}
.btn-primary{
    background-color: #0099ff;
}
.p-2{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.banner{
    box-shadow: 0 0 5px #888;
    margin-left: 63px;
    margin-right: 63px;
    border-radius: 8pt;
}
.bi-heart{
    color:white;
}
.bi-icon{
    color:#0099ff;
}
.bi-house-door-fill{
    color: #0099ff;
    margin-right: 8px;
}
.bi-envelope-fill{
    color: #0099ff;
    margin-right: 8px;
}
.bi-telephone-fill{
    color: #0099ff;
    margin-right: 8px;
}
.bi-printer-fill{
    color: #0099ff;
    margin-right: 8px;
}
.btn-next{
    background-color: #0099ff;
}
.card{
    -moz-box-shadow: 0 0 5px #0099ff;
    -webkit-box-shadow: 0 0 5px#0099ff;
    box-shadow: 0 0 5px #0099ff;
    border-radius: 8pt;
}
.btn-facebook{
    background-color: #0099ff;
    margin-left: 570px;
    margin-right: 570px;
}